/* You can add global styles to this file, and also import other style files */
@import '@angular/cdk/overlay-prebuilt.css';

html,
body {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --disabled-color: #bbbbbb;
  --bg-color: #eeeeee;
  --border-color: #dee2e6;
  --hover-color: #e2e6ea;

  --radius-1: 5px;
  --radius-2: 10px;

  --spacing-1: 0.5rem;
  --spacing-2: 0.75rem;
  --spacing-3: 1rem;
  --spacing-4: 1.5rem;
  --spacing-5: 3rem;
}

input {
    border-radius: var(--radius-1);
    border: 1px solid var(--border-color);
    padding: var(--spacing-1);
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.dropdown-menu {
  background-color: var(--bg-color);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 250px;
  border-radius: var(--radius-1);
  padding: var(--spacing-1);
}

.show-on-hover-toggle:hover .show-on-hover {
  //opacity: 1;
  display: inline;
}

.show-on-hover {
  //opacity: 0;
  display: none;
}
