/* You can add global styles to this file, and also import other style files */
@import '@angular/cdk/overlay-prebuilt.css';
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: 'Anonymous Pro', monospace;
}

@mixin light() {
  --primary-color: #2962FF;
  --accent-color: #FF7043;
  --disabled-color: #d2d6da;
  --disabled-alt-color: #a2a2a2;
  --bg-color: #ffffff;
  --border-color: #f1f3f5;
  --hover-color: #f1f3f5;
  --text-color: #333333
}

@mixin dark() {
  --primary-color: #2962FF;
  --accent-color: #FF7043;
  --disabled-color: #6c757d;
  --disabled-alt-color: #a2a2a2;
  --bg-color: #333333;
  --border-color: #424242;
  --hover-color: #424242;
  --text-color: #ffffff;
}

body.dark {
  @include dark();
}
body.light {
  @include light();
}

:root {
  --success-color: #28a745;
  --warning-color: #ffc107;
  --danger-color: #dc3545;

  --radius-1: 5px;
  --radius-2: 10px;

  --spacing-1: 0.5rem;
  --spacing-2: 0.75rem;
  --spacing-3: 1rem;
  --spacing-4: 1.5rem;
  --spacing-5: 3rem;
}

input {
    border-radius: var(--radius-1);
    border: 1px solid var(--border-color);
    padding: var(--spacing-1);
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

textarea:focus, input:focus{
  outline: var(--primary-color) solid 1px;
}

body.dark input {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.dropdown-menu {
  background-color: var(--bg-color);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 250px;
  border-radius: var(--radius-1);
  padding: var(--spacing-1);
}

.show-on-hover-toggle:hover .show-on-hover {
  //opacity: 1;
  display: inline;
}

.show-on-hover {
  //opacity: 0;
  display: none;
}

.shadow {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
