/* You can add global styles to this file, and also import other style files */
@import '@angular/cdk/overlay-prebuilt.css';
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  color: var(--text-color);
  font-family: 'Anonymous Pro', monospace;
}

@mixin light() {
  --primary-color: #2962FF;
  --accent-color: #FF7043;
  --disabled-color: #d2d6da;
  --bg-color: #ffffff;
  --border-color: #f1f3f5;
  --text-color: #333333;
  --shadow: 0 0 5px 0 rgba(180, 180, 180, 0.5);
}

@mixin dark() {
  --primary-color: #2962FF;
  --accent-color: #FF7043;
  --disabled-color: #6c757d;
  --bg-color: #424242;
  --border-color: #565656;
  --text-color: #ffffff;
  --shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

body.dark {
  @include dark();
  background-color: #333333;
}
body.light {
  @include light();
  background-color: var(--bg-color);
}

:root {
  --success-color: #28a745;
  --warning-color: #ffc107;
  --danger-color: #dc3545;

  --radius: 7px;
  --radius-1: 5px;
  --radius-2: 10px;

  --spacing-1: 0.5rem;
  --spacing-2: 0.75rem;
  --spacing-3: 1rem;
  --spacing-4: 1.5rem;
  --spacing-5: 3rem;
}

textarea:focus, input:focus{
  outline: var(--primary-color) solid 1px;
}

body.dark input {
  background-color: var(--bg-color);
  color: var(--text-color);
}

//.dropdown-menu {
//  background-color: var(--bg-color);
//  box-shadow: var(--shadow);
//  overflow: hidden;
//  border-radius: var(--radius-1);
//  padding: var(--spacing-1);
//}

.shadow {
  box-shadow: var(--shadow);
}

.show-on-hover-toggle:hover .show-on-hover {
  //opacity: 1;
  display: inline;
}

.show-on-hover {
  //opacity: 0;
  display: none;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: var(--border-color);
  }
}
